.Canvas {
  position: relative;
  overflow: hidden;
  width: 100%;

  height: 30rem;
}

.pen {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.draw-area {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
